body {
	background-color: FloralWhite;
	font-family: Palatino;
	font-size: 1em;
	margin-top: 2%;
	margin-bottom: 2%;
	margin-left: 15%;
	margin-right: 15%;
}

a:link {
	color: #8497b2;
}

a:visited {
	color: #7f7d78;
}

h1 {
	text-align: center;
	font-family: "Trebuchet MS";
}

h4 {
	text-align: center;
	font-family: "trebuchet MS";
	font-size: 1em;
}

#topbar {
	text-align: center;
	font-style: italic;
	font-size: .8em;
}

span.em {
	font-style: italic;
}

img#biopic {
	width: 25%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}